---
import ContentSection from "~/components/content-section.astro";
import { Icon } from "astro-icon";

const features = [
  {
		title: 'Frontend Web Development',
		description:
			'Years of experience with React (native or flutter), Custom Web Apps, Wordpress, Landing Pages, HTML Emails & more.',
		icon: 'mdi:search-web',
	},
	{
		title: 'Backend Web Development',
		description:
			'Fast performance & hight security webserver setups, e-commerce, databases, search engines and more.',
		icon: 'mdi:graph',
	},
	{
		title: 'Professional Graphic Design',
		description:
			'Web and Mobile app design, User interfaces as well and branding and custom logos.',
		icon: 'mdi:feather',
	}
];
---

<ContentSection title="Ascent Development" id="features">
  <Icon slot="eyebrow" name="logomark" class="h-32" />
  <Fragment slot="lead">
    Hire a <span class="text-primary">team</span> or a <span class="text-primary">single person</span> from our roster of super 
    <span class="text-primary">talented</span> developers, designers and more.
  </Fragment>
  <ul class="grid pt-2 max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3 ">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 p-5 ml-2 border border-default bg-offset">
          <div class="w-16 h-16 p-3 border-2 border-current rounded-full">
            <Icon name={icon} />
          </div>
          <p class="text-xl font-extrabold text-center">{title}</p>
          <p class="text-sm text-center text-offset">{description}</p>
        </li>
      ))
    }
  </ul>
  <div class="grid grid-cols-2 gap-4 items-center pt-4">
    <a 
      href="https://docs.astro.build/"
      class="flex items-center justify-center gap-3 px-6 py-4 border-2 rounded-md border-current"
    >
      <Icon pack="mdi" name="telescope" class="h-8" />
      <span>PORTFOLIO</span>
   
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 px-6 py-4 border-2 rounded-md border-current"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>HIRE US</span>
    </a>
  </div>
</ContentSection>
